{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<nav class="front-page-buttons">
  <button id="create_note_button" type="submit"><a href="{% url 'create_note' %}" style="text-decoration: none;">Create
      New Note</a></button>
  <form id="search" action='' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
  </form>
</nav>

<div id="display-notes">
  <ul id="notes">
    {% for note in notes %}

    <li id="list-title" style="list-style-type: none;">
      <a href="/notes/{{ note.pk }}" style="text-decoration: none;">
        <h1 id="title">{{ note.title }}</h1>
        <h4 id="body">{{ note.body }}</h4>
      </a>
    </li>

    {% endfor %}
  </ul>
</div>


{% endblock %}