{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<nav class="front-page-buttons">
  <button id="create_note_button" type="submit"><a href="{% url 'create_note' %}" style="text-decoration: none;">Create
      New Note</a></button>
  <form id="search" action='' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
  </form>
</nav>


<ul id="notes">
  {% for note in notes %}
  <li id="list-title" style="list-style-type: none;"><a href="/notes/{{ note.pk }}" style="text-decoration: none;">
      <p>{{ note.title }}</p>
      <p>{{ note.body }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}