{% extends "notes/base.html" %}
{% load static %}
{% load markdownify %}

<!-- {% block title %}My Notes - {{ note.title }}{% endblock %} -->

{% block content %}
<div class="center-note">
    <div id="old-note" class="detail">
        <h3>{{ note.title }}</h3>
        <p class="note_body">{{ note.body|markdownify }}</p>
        <div id="button-display">
            <a href="{% url 'edit_note' pk=note.pk %}" id="edit"></a>
            <a href=" {% url 'delete_note' pk=note.pk %}" id="delete"></a>
        </div>
    </div>
</div>
<button class="back-to-note" onclick="location.href='/'" type="button">Back to Notes</button>

{% endblock %}