* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto Slab', serif;
	background-image: url("../images/sticky-notes-background.jpg");
	background-size: cover;
}

.create_note_button a {
	color: white;
}

#old-note {
	width: 270px;
	height: 270px;
	border: 1px solid lightgrey;
	margin: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	padding: 10px;
	background-color: rgb(247 236 151);
	font-family: 'Indie Flower', cursive;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	transition: transform .2s;
	transform: rotate(-6deg);
	color: rgb(44, 46, 48);
	border-bottom-right-radius: 60px 5px;
}
#old-note h3 {
	font-size: larger;
	font-weight: bold;
	padding-bottom: 10px;
}

#old-note p {
	font-family: 'Indie Flower', cursive;
	font-size: large;
}

#old-note:hover {
	transform: scale(1.3);
}

#old-note:hover #button-display {
	display: inline-flex;
}

.back-to-note {
	transition-duration: 0.4s;
	background-color: #7be291;
	font-size: 16px;
	width: 150px;
	height: 50px;
	border-radius: 20px;
	box-shadow: 3px 3px 5px rgba(154, 241, 166, 0.7);
}

.back-to-note:hover {
	background-color: #f7f3f1;
	color: rgb(0, 0, 0);
	box-shadow: inset 0 0 20px #ee8989;
}

.back-to-note a:visited {
	color: rgba(33, 33, 33, .7);
}

.title-header {
	background-color: rgb(158, 221, 138);
	box-shadow: 3px 3px 5px rgba(180, 240, 193, 0.7);
	color: rgba(5, 5, 5, 0.7);
	padding: 2%;
}
.title-header a:link {
	color: black;
}

.title-header a:visited {
	color: rgba(33, 33, 33, .7);
}
#create_note_button {
	transition-duration: 0.4s;
	background-color: #7be291;
	font-size: 16px;
	width: 150px;
	height: 50px;
	border-radius: 20px;
	box-shadow: 3px 3px 5px rgba(154, 241, 166, 0.7);
	text-decoration: none;
	color: rgba(33, 33, 33, .7);
}

#create_note_button a:visited {
	color: rgba(33, 33, 33, .7);
}

#create_note_button:hover {
	background-color: #f7f3f1;
	color: rgb(0, 0, 0);
	box-shadow: inset 0 0 20px #ee8989;
	text-decoration: none;
}

#list-title {
	width: 300px;
	height: 300px;
	border: 1px solid lightgrey;
	margin: 20px;
	text-align: center;
	padding: 10px;
	background-color: rgb(247 236 151);
	font-family: 'Indie Flower', cursive;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	transition: transform .2s;
	color: rgb(44, 46, 48);
	border-bottom-right-radius: 60px 5px;
	margin-left: 50px;
}

#notes #list-title:nth-child(even) {
	transform: rotate(4deg);
}

#notes #list-title:nth-child(3n) {
	transform: rotate(-3deg);
}
#notes #list-title:nth-child(5n) {
	transform: rotate(5deg);
}

#notes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#list-title a:link {
	color: rgba(0, 0, 0, 0.7);
}

#list-title a:visited {
	color: rgba(33, 33, 33, .7);
}

#list-title a:hover {
	color: #ee8989;
}

.add-note {
	transition-duration: 0.4s;
	background-color: #7be291;
	font-size: 16px;
	width: 70px;
	height: 25px;
	border-radius: 20px;
	box-shadow: 3px 3px 5px rgba(154, 241, 166, 0.7);
	color: rgba(33, 33, 33, .7);
}
.add-note:hover {
	background-color: #f7f3f1;
	color: rgb(0, 0, 0);
	box-shadow: inset 0 0 20px #ee8989;
}

.detail {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.front-page-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	padding-left: 2%;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}

#id_search_word {
	width: 400px;
	height: 40px;
	border-radius: 10px;
}
label {
	font-size: large;
}
.center-note {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}

#delete {
	background-image: url('../images/icons8-trash-50.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: none;
	cursor: pointer;
	height: 40px;
	width: 40px;
}

#edit {
	background-image: url('../images/icons8-edit-property-50.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: none;
	cursor: pointer;
	height: 40px;
	width: 40px;
	vertical-align: middle;
}
#button-display {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	display: none;
	margin-top: 5px;
}

a {
	text-decoration: none;
}
#cancel-button {
	transition-duration: 0.4s;
	background-color: #7be291;
	font-size: 16px;
	width: 150px;
	height: 50px;
	border-radius: 20px;
	box-shadow: 3px 3px 5px rgba(154, 241, 166, 0.7);
	text-decoration: none;
	color: rgba(33, 33, 33, .7);
	margin: 2%;
}

#cancel-button a:visited {
	color: rgba(33, 33, 33, .7);
}

#cancel-button:hover {
	background-color: #f7f3f1;
	color: rgb(0, 0, 0);
	box-shadow: inset 0 0 20px #ee8989;
	text-decoration: none;
}

#buttons {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
#delete-button {
	transition-duration: 0.4s;
	background-color: #7be291;
	font-size: 16px;
	width: 150px;
	height: 50px;
	border-radius: 20px;
	box-shadow: 3px 3px 5px rgba(154, 241, 166, 0.7);
	text-decoration: none;
	color: rgba(33, 33, 33, .7);
	margin: 2%;
}
#delete-button a:visited {
	color: rgba(33, 33, 33, .7);
}

#delete-button:hover {
	background-color: #f7f3f1;
	color: rgb(0, 0, 0);
	box-shadow: inset 0 0 20px #ee8989;
	text-decoration: none;
}
#title {
	font-size: x-large;
}
#body {
	font-size: large;
}
#id_title {
	width: 250px;
	height: 25px;
	color: black;
}
#id_body {
	width: 97%;
	height: 90%;
	color: rgb(133, 124, 126);
}
#save {
	background-image: url('../images/icons8-save-close-50.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: none;
	cursor: pointer;
	height: 50px;
	width: 50px;
	vertical-align: middle;
}
